# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

## GRAPHICS
*.ai   filter=lfs diff=lfs merge=lfs -text
*.bmp  binary
*.eps  filter=lfs diff=lfs merge=lfs -text
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpg  binary
*.jpeg binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  filter=lfs diff=lfs merge=lfs -text
*.svg  text
*.svgz binary
*.tif  filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.wbmp binary
*.webp binary

## AUDIO
*.kar  filter=lfs diff=lfs merge=lfs -text
*.m4a  filter=lfs diff=lfs merge=lfs -text
*.mid  filter=lfs diff=lfs merge=lfs -text
*.midi filter=lfs diff=lfs merge=lfs -text
*.mp3  filter=lfs diff=lfs merge=lfs -text
*.ogg  filter=lfs diff=lfs merge=lfs -text
*.ra   filter=lfs diff=lfs merge=lfs -text

## VIDEO
*.3gpp filter=lfs diff=lfs merge=lfs -text
*.3gp  filter=lfs diff=lfs merge=lfs -text
*.as   filter=lfs diff=lfs merge=lfs -text
*.asf  filter=lfs diff=lfs merge=lfs -text
*.asx  filter=lfs diff=lfs merge=lfs -text
*.fla  filter=lfs diff=lfs merge=lfs -text
*.flv  filter=lfs diff=lfs merge=lfs -text
*.m4v  filter=lfs diff=lfs merge=lfs -text
*.mng  filter=lfs diff=lfs merge=lfs -text
*.mov  filter=lfs diff=lfs merge=lfs -text
*.mp4  filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mpg  filter=lfs diff=lfs merge=lfs -text
*.swc  filter=lfs diff=lfs merge=lfs -text
*.swf  filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text

## ARCHIVES
*.7z  binary
*.gz  binary
*.rar binary
*.tar binary
*.zip binary

## FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
