/* SCSS HEX */
$chocolate-cosmos: #590d22ff;
$claret: #800f2fff;
$amaranth-purple: #a4133cff;
$rose-red: #c9184aff;
$bright-pink-crayola: #ff4d6dff;
$bright-pink-crayola-2: #ff758fff;
$salmon-pink: #ff8fa3ff;
$cherry-blossom-pink: #ffb3c1ff;
$pink: #ffccd5ff;
$lavender-blush: #fff0f3ff;

/* SCSS HSL */
$chocolate-cosmos: hsla(343, 75%, 20%, 1);
$claret: hsla(343, 79%, 28%, 1);
$amaranth-purple: hsla(343, 79%, 36%, 1);
$rose-red: hsla(343, 79%, 44%, 1);
$bright-pink-crayola: hsla(349, 100%, 65%, 1);
$bright-pink-crayola-2: hsla(349, 100%, 73%, 1);
$salmon-pink: hsla(349, 100%, 78%, 1);
$cherry-blossom-pink: hsla(349, 100%, 85%, 1);
$pink: hsla(349, 100%, 90%, 1);
$lavender-blush: hsla(348, 100%, 97%, 1);

/* SCSS RGB */
$chocolate-cosmos: rgba(89, 13, 34, 1);
$claret: rgba(128, 15, 47, 1);
$amaranth-purple: rgba(164, 19, 60, 1);
$rose-red: rgba(201, 24, 74, 1);
$bright-pink-crayola: rgba(255, 77, 109, 1);
$bright-pink-crayola-2: rgba(255, 117, 143, 1);
$salmon-pink: rgba(255, 143, 163, 1);
$cherry-blossom-pink: rgba(255, 179, 193, 1);
$pink: rgba(255, 204, 213, 1);
$lavender-blush: rgba(255, 240, 243, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-right: linear-gradient(90deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-bottom: linear-gradient(180deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-left: linear-gradient(270deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-top-right: linear-gradient(45deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-bottom-right: linear-gradient(135deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-top-left: linear-gradient(225deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-bottom-left: linear-gradient(315deg, #590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
$gradient-radial: radial-gradient(#590d22ff, #800f2fff, #a4133cff, #c9184aff, #ff4d6dff, #ff758fff, #ff8fa3ff, #ffb3c1ff, #ffccd5ff, #fff0f3ff);
